{% load static %}
<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <title>
    Create Journal
  </title>
</head>

<body>
  <h1 align="center">Create journal entry
    <img src="{% static 'images/brewjournal.png' %}" type="image" style="width:60px;height:100px;">
  </h1>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/profile/">Profile</a></li>
    <li><a href="/create_journal/">Create journal</a></li>
    <li style="float:right"><a href="#about">About</a></li>
    {% if not user.is_authenticated %}
    <li style="float:right"><a href="/login/">Sign in</a></li>
    <li style="float:right"><a href="/register/">Create account</a></li>
    {% else %}
    <li style="float:right"><a href="/logout/">Log Out</a></li>
    {% endif %}
  </ul>

  <form method="POST">
    {% csrf_token %}
    <div id="container">
      <p>
        <button class="button" type="button" data-toggle="collapse" data-target="#section0">
          Information Step
        </button>
      </p>
      <div class="collapse" id="section0">
        <div class="card card-body">
          Recipe Name: <br> {{form0.Name_of_brew}}
          <br>
          Completed Brew?: {{form0.Completed}}
          <br>
          Overall Notes: <br> {{form0.Overall_notes}}
          <br>
          {{form0.DateCreated}}
        </div>
      </div>

      <p>
        <button class="button" type="button" data-toggle="collapse" data-target="#section1">
          Mash Step
        </button>
      </p>
      <div class="collapse" id="section1">
        <div class="card card-body">
          Water Volume: <br>{{form1.Water_Volume}} Gallons
          <br><br>
          Step 1 Mash temperature: {{form1.Step_Mash_1_temp}} °F
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          Time: {{form1.Step_Mash_1_time}} Minutes
          <br>
          Step 2 Mash temperature: {{form1.Step_Mash_2_temp}} °F
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          Time: {{form1.Step_Mash_2_time}} Minutes
          <br>
          Step 3 Mash temperature: {{form1.Step_Mash_3_temp}} °F
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          Time: {{form1.Step_Mash_3_time}} Minutes
          <br>
          Step 4 Mash temperature: {{form1.Step_Mash_4_temp}} °F
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          Time: {{form1.Step_Mash_4_time}} Minutes
          <br>
          Step 5 Mash temperature: {{form1.Step_Mash_5_temp}} °F
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          Time: {{form1.Step_Mash_5_time}} Minutes
          <br><br>
          Mash out: {{form1.Mash_out}}
          <br><br>
          Sparge temperature: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{form1.Sparge_temp}} °F
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          Time: {{form1.Sparge_time}} Minutes
          <br><br>
          Recirc time: <br>{{form1.Recirc_time}} Minutes
          <br><br>
          Mash Notes: <br>{{form1.Mash_notes}}
          <br>
        </div>
      </div>

      <p>
        <button class="button" type="button" data-toggle="collapse" data-target="#section2" aria-expanded="false"
          aria-controls="collapseExample">
          Boil Step
        </button>
      </p>
      <div class="collapse" id="section2">
        <div class="card card-body">
          Starting Volume: {{form2.Start_vol}} Gallons
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          Ending Volume: {{form2.End_vol}} Gallons
          <br><br>
          Hop 1 Name: {{form2.hop_name_1}}
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          Amount: {{form2.hop_amount_1}} ounces
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          Alpha Acid: {{form2.hop_alpha_acid_1}} %
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          Time:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;{{form2.hop_time_1}} Minutes
          <br><br>
          Hop 2 Name: {{form2.hop_name_2}}
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          Amount: {{form2.hop_amount_2}} ounces
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          Alpha Acid: {{form2.hop_alpha_acid_2}} %
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          Time: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;{{form2.hop_time_2}} Minutes
          <br><br>
          Hop 3 Name: {{form2.hop_name_3}}
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          Amount: {{form2.hop_amount_3}} ounces
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          Alpha Acid: {{form2.hop_alpha_acid_3}} %
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          Time: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;{{form2.hop_time_3}} Minutes
          <br><br>
          Whirlfloc: {{form2.Whirlfloc}}
          <br>
          Whirlfloc Time: <br>{{form2.Whirlpool_time}} Minutes
          <br><br>
          Boil notes: <br>{{form2.Boil_notes}}
          <br>
        </div>
      </div>

      <p>
        <button class="button" type="button" data-toggle="collapse" data-target="#section3" aria-expanded="false"
          aria-controls="collapseExample">
          Fermentation Step
        </button>
      </p>
      <div class="collapse" id="section3">
        <div class="card card-body">
          Yeast Name: {{form3.Yeast_name}}
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          Amount: {{form3.Yeast_amount}} ounces
          <br><br>
          Start Gravity: <br>{{form3.Start_gravity}}
          <br><br>
          Temperature 1: {{form3.temp_1}} °F
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          Time: {{form3.time_1}} Days
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          End Gravity 1: {{form3.End_gravity_1}}
          <br>
          Temperature 2: {{form3.temp_2}} °F
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          Time: {{form3.time_2}} Days
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          End Gravity 2: {{form3.End_gravity_2}}
          <br>
          Temperature 3: {{form3.temp_3}} °F
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          Time: {{form3.time_3}} Days
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          End Gravity 3: {{form3.End_gravity_3}}
          <br><br>
          ABV: {{form3.ABV}} %
          <br><br>
          Lager temperature: {{form3.Lager_temp}} °F
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          Time: {{form3.Lager_time}} Days
          <br><br>
          Fermentation Notes: <br>{{form3.Fermentation_notes}}
          <br>
        </div>
      </div>
      <input type="submit" value="Submit">
    </div>
  </form>

</body>

</html>

<style>
  li {
    float: left;
  }


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #317393;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  #container {
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #317393;
    margin-top: 10px;
    padding: 20px;
    width: 1000px;
  }

  .button {
    border-radius: 25px;
    width: 100%;
    background-color: #317393;
    color: azure;
    height: 50px;
  }

  .add {
    border-radius: 25px;
    width: 15%;
    background-color: #317393;
    color: azure;
    height: 30px;
  }

  .active {
    background-color: #4CAF50;
  }
</style>