{% load static %}


    <!DOCTYPE html>
    <html lang = "en">
        <head>
            <meta charset = "urf-8" name = "viewport" content = "width=device-width, initial-scale=1"/>
            {% load static %}
            <link rel = "stylesheet" type = "text/css" href = "{% static 'css/bootstrap.css' %}"/>
            <link rel = "stylesheet" type = "text/css" href = "{% static 'css/jquery.dataTables.css' %}"/>


            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <h1 align="center">Welcome!
        <img src="{% static 'images/brewjournal.png' %}" type="image" style="width:60px;height:100px;"></h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/profile/">Profile</a></li>
        <li><a href="/create_journal/">Create journal</a></li>
        <li style="float:right"><a href="#about">About</a></li>
		{% if not user.is_authenticated %}
		<li style="float:right"><a href="/login/">Sign in</a></li>
		<li style="float:right"><a href="/register/">Create account</a></li>
		{% else %}
	    <li style="float:right"><a href="/logout/">Log Out</a></li>
		{% endif %}
    </ul>

        </head>
    <body>

            {% block body %}
            {% endblock %}
        </div>
     
    </body>
    <script src = "{% static 'js/jquery-3.2.1.js' %}"></script>
    <script src = "{% static 'js/jquery.dataTables.js' %}"></script>
    <script type = "text/javascript">
        $(document).ready(function(){
            var table = $('#table').DataTable( {
        		"columnDefs": [ 
        		{
            		"targets": 51,
            		"data": null,
            		"defaultContent": "<button>View</button>"
        		},
                { "targets":1, "visible":true},
                { "targets":2, "visible":true},
        		{ "targets":3, "visible":true},
        		{ "targets":4, "visible":true},
        		{ "targets":5, "visible":true},
                { "targets":6, "visible":true},
                { "targets":7, "visible":true},
                { "targets":8, "visible":true},
                { "targets":9, "visible":true},
                { "targets":10, "visible":true},
                { "targets":11, "visible":false},
                { "targets":12, "visible":false},
                { "targets":13, "visible":false},
                { "targets":14, "visible":false},
                { "targets":15, "visible":false},
                { "targets":16, "visible":false},
                { "targets":17, "visible":false},
                { "targets":18, "visible":false},
                { "targets":19, "visible":false},
                { "targets":20, "visible":false},
                { "targets":21, "visible":false},
                { "targets":22, "visible":false},
                { "targets":23, "visible":false},
                { "targets":24, "visible":false},
                { "targets":25, "visible":false},
                { "targets":26, "visible":false},
                { "targets":27, "visible":false},
                { "targets":28, "visible":false},
                { "targets":29, "visible":false},
                { "targets":30, "visible":false},
                { "targets":31, "visible":false},
                { "targets":32, "visible":false},
                { "targets":33, "visible":false},
                { "targets":34, "visible":false},
                { "targets":35, "visible":false},
                { "targets":36, "visible":false},
                { "targets":37, "visible":false},
                { "targets":38, "visible":false},
                { "targets":39, "visible":false},
                { "targets":40, "visible":false},
                { "targets":41, "visible":false},
                { "targets":42, "visible":false},
                { "targets":43, "visible":false},
                { "targets":44, "visible":false},
                { "targets":45, "visible":false},
                { "targets":46, "visible":false},
                { "targets":47, "visible":false},
                { "targets":48, "visible":false},
                { "targets":49, "visible":false},
                { "targets":50, "visible":false},

        		]
        	});
      
        	$('#table tbody').on( 'click', 'button', function () {
        	var data = table.row( $(this).parents('tr') ).data();
        	alert( "Name of this brew is: "+ data[ 0 ] +
        		"\nName of Hop 1: " + data[20] +
        		"\nHop 1 Amount: " + data[21] +
        		"\nHop 1 Alpha Acid: " + data[22] +
        		"\nHop 1 Time: " + data[23]  );
    		} );
        });

    </script>
    </html>

    <style>
    li {
        float: left;
    }


    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #317393;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    .active {
        background-color: #4CAF50;
    }
</style>