{% extends 'dt_base.html' %}
{% block body %}
    <table id = "table" class = "table table-bordered">
        <thead class = "alert-success">
            <tr>
                <th>Brew Name</th>
                <th>Hop Name</th>
                <th>Hop Alpha</th>
                <th>Hop Amount</th>
                <th>Temp 1</th>
                <th>Temp 2</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
            {% for journals in data  %}
            <tr>
                <td>{{ journals.JournalID.name_of_brew }}</td>
                <td>{{ journals.JournalID.hop_name }}</td>
                <td>{{ journals.JournalID.hop_alpha }}</td>
                <td>{{ journals.JournalID.hop_amount }}</td>
                <td>{{ journals.JournalID.temp1 }}</td>
                <td>{{ journals.JournalID.temp2 }}</td>
                <td></td>
            </tr>
           {% endfor %}
        </tbody>
    </table>
 
{% endblock %}