<!DOCTYPE html>
<html>

<head>
  <title>
    Journal Entry
  </title>
</head>

<body>
  <h1 align="center">Your Journal</h1>
  <ul>
    <li><a href="/">Home</a></li>

    <li style="float:right"><a href="#about">About</a></li>
    {% if not user.is_authenticated %}
    <li><a href="/login/">Profile</a></li>
    <li><a href="/login/">Create journal</a></li>
    <li style="float:right"><a href="/login/">Sign in</a></li>
    <li style="float:right"><a href="/register/">Create account</a></li>
    {% else %}
    <li><a href="/profile/">Profile</a></li>
    <li><a href="/create_journal/">Create journal</a></li>
    <li style="float:right"><a href="/logout/">Log Out</a></li>

    {% endif %}
  </ul>
  <p>
    <br>

    <form action="/" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Submit">
    </form>
    </form>
  </p>
</body>

</html>

<style>
  li {
    float: left;
  }


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #317393;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .active {
    background-color: #4CAF50;
  }
</style>