{% extends 'base.html' %}
<html>

<head>
	{% block head %}
	<title>Login</title>
	{% endblock %}
</head>

{% block body %}
<body>
	<div class="content">
		<h2>Login</h2>
		<form method="post">
			{% csrf_token %}
      		{% for field in form %}
      			<p>
        		{{ field.label_tag }}<br>
        		{{ field }}
        		</p>
      			{% endfor %}
  			<button type="submit">Login</button>
  			{% if form.errors %}
  			<p style="color:red">Error! Check fields for accuracy.</p>
  			{% endif %}
		</form>
	</div>
</body>
{% endblock %}

</html>