{% extends 'base.html' %}
<html>

<head>
  {% block head %}
  <title>Create New Account</title>
  {% endblock %}
</head>

{% block body %}
<body>
  <div class="content">
    <h2>Create New Account</h2>
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% for error in field.errors %}
        <p  style="color:red">{{ error }}</p>
        {% endfor %}
      </p>
      {% endfor %}
      <button type="submit">Register</button>
    </form>
  </div>
</body>
{% endblock %}

</html>